* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f5f5f7;
  color: #1d1d1f;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  padding: 40px;
  /* background-color: red; */
}

.product-card {
  background: white;
  padding: 25px;
  border-radius: 18px;
  min-height: 220px;
}

.product-card h2 {
  margin-bottom: 10px;
}

.product-card h3 {
  margin-top: 20px;
}
